.home{
    background-image: url("#");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
body2{
    background-color: #2E2E2E;
}

body1{
    background: linear-gradient(#2E64FE, #F781BE);
}
body{
    background-color: #2E2E2E;
}
hr{
    border-top: 1px solid rgb(253, 253, 253)
}
.top{
    padding: 4rem 2rem;
}
.bartendu{
    background: -webkit-linear-gradient(#2E64FE, #F781BE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bartendu2{
    background: linear-gradient(#2E64FE, #F781BE);
}